<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simplest_notes_app_by_command">

    <application
        android:name="com.example.simplest_notes_app_by_command.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_compose_template_by_commandiron">
        <activity
            android:name="com.example.simplest_notes_app_by_command.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.My_compose_template_by_commandiron">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>